<%= simple_form_for @article do |form| %>
  <% if @article.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :title, input_html: { class: "form-control #{'is-invalid' if @article.errors[:title].any?}" } %>
  </div>

  <div>
    <%= form.input :body, input_html: { rows: 10, class: "form-control #{'is-invalid' if @article.errors[:body].any?}" } %>
  </div>
  <div>
    <!-- O atributo collection filtra para que as categorias aparecam em ordem alfabética -->
    <%= form.association :category, collection: @categories, prompt: t('articles.form.choose_category'),input_html: { class: "form-control" } %>
  </div>

  <br>

  <p>
    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= link_to t('app.button.back'), articles_path, class: 'btn btn-secondary' %>
  </p>

<% end %>