<h1>Artigos</h1>
<%= link_to "Criar Artigo", new_article_path %>
<hr />
  <% @articles.each do | article |%>
  <h2><strong><%= article.title %></strong></h2>
  <p><%= article.body %></p>
  <!-- <a href="/articles/<%= article.id%>">Visualizar</a> MÉTODO ANTIGO-->
  <%= link_to("Visualizar", article)%>
  <!-- Helper utilizado para retornar o link para artigo dentro da iteração -->
  <hr />
  <% end %>
