<div class="fadeInUp">
    <h1 class="mt-3"><strong><%= @article.title %></strong></h1>
    
    <strong class="d-inline-block text-primary"><%= @article.category.name if @article.category %></strong>
    
    <p class="blog-post-meta">
        <%= m_d_comma_y(@article.created_at) %> <%= t('app.word.by') %> 
        <span class="text-secondary fw-bold"><%= sub_masked_email(@article.user.email) if @article.user %></span>
    </p>
    
    <hr>
    
    <p style="text-align: justify;" class="fs-5"><%= @article.body %></p>
    
    <hr>
    
    <div class="d-flex justify-content-between">
        <div class="buttons">
            <% if policy(@article).edit?%>
                <%= link_to edit_article_path, class: "button-link text-decoration-none" do %>
                    <button type="button" class="btn btn-lg btn-primary"><%= t('app.button.edit') %></button>
                <% end %>
            <% end %>
    
            <% if policy(@article).destroy?%>
                <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <%= t('app.button.destroy') %>
                </button>
            <% end %>
        </div>
        <div class="back-btn">
            <%= link_to root_path  do%>
                <button type="button" class="btn btn-lg btn-secondary"><%= t('app.button.back') %></button>
            <% end %>
        </div>
    </div>
</div>
<br>

<div class="popIn">
    <!-- Listagem de comentários -->
    <h2 class="mt-5 mb-3"><%= t('.comments') %></h2>
    <% @article.comments.each do |comment|%>
        <%= render 'comments/comment', comment: comment %>
    <% end %>

    <hr class="mt-4 mb-2">

    <!-- Adicionar comentário -->
    <strong class="fs-5 text-secondary"><%= t('.add_comment') %></strong>
    <%= render 'comments/form' %>
</div>

<!-- Modal de exclusão -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= t('app.button.destroy') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= t('app.message.confirm_destroy') %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn bg-gradient bg-secondary text-light" data-bs-dismiss="modal"><%= t('app.word.no') %></button>
            <%= link_to t('app.word.yes'), article_path(@article), method: :delete, class: "btn bg-gradient bg-danger text-light" %>
        </div>
        </div>
    </div>
</div>

