<h1><strong><%= @article.title %></strong></h1>
<strong class="d-inline-block text-primary"><%= @article.category.name if @article.category %></strong>
<p class="blog-post-meta">
    <%= m_d_comma_y(@article.created_at) %> by 
    <span class="text-secondary fw-bold"><%= @article.user.email if @article.user %></span>
</p>
<hr>
<p style="text-align: justify;"><%= @article.body %></p>
<hr>
<div class="d-flex justify-content-between">
    <div class="buttons">
        <% if policy(@article).edit?%>
            <%= link_to edit_article_path, class: "button-link text-decoration-none" do %>
                <button type="button" class="btn btn-primary">Edit article</button>
            <% end %>
        <% end %>

        <% if policy(@article).destroy?%>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete article
            </button>
        <% end %>
    </div>
    <div class="back-btn">
        <%= link_to root_path  do%>
        <button type="button" class="btn btn-lg btn-secondary">Back</button>
        <% end %>
    </div>  
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete article</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Do you really want to delete the article?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn bg-gradient bg-secondary text-light" data-bs-dismiss="modal">No</button>
            <%= link_to "Yes", article_path(@article), method: :delete, class: "btn bg-gradient bg-danger text-light" %>
        </div>
        </div>
    </div>
</div>

