<% content_for :title, "Categories" %>

<h1 class="mt-3"><%= t Category.model_name.human(count: 2) %></h1>
<hr>

<div class="card-body mt-3">
  <table class="table table-bordered table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col"><%= t Category.human_attribute_name('name') %></th>
        <th scope="col"><%= t('app.word.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td scope="row"><strong><%= category.name %></strong></td>
          <td>

            <%= link_to edit_category_path(category), class: 'btn bg-gradient bg-primary text-light' do %>
              <%= t('app.button.edit') %>
            <% end %>

            <button type="button" class="btn bg-gradient bg-danger text-light" data-bs-toggle="modal" data-bs-target="#deleteModal-<%= category.id %>">
              <%= t('app.button.destroy') %>
            </button>
          </td>
        </tr>
        <!-- Modal de exclusão -->
        <div class="modal fade" id="deleteModal-<%= category.id %>" tabindex="-1" aria-labelledby="deleteModalLabel-<%= category.id %>" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel-<%= category.id %>"><%= t('app.button.destroy') %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <strong><%= category.name %></strong> | <%= t('app.message.confirm_destroy') %> 
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn bg-gradient bg-secondary text-light" data-bs-dismiss="modal">No</button>
                  <%= link_to "Yes", category, method: :delete, class: "btn bg-gradient bg-danger text-light" %>
              </div>
            </div>
        </div>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<%= link_to t('categories.new.title'), new_category_path, class: 'btn btn-lg bg-gradient bg-success text-light' %>