<footer class="text-center text-lg-start text-white bg-dark mt-5">
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Blogalizando
          </h6>
          <p>
            <%= t('app.footer.about_me')%>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            <%= t('app.footer.another_projects')%>
          </h6>
          <p>
            <a class="text-white" href="https://themed-quiz.vercel.app/" target="_blank">
              <%= t('app.footer.project_1')%>
            </a>
          </p>
          <p>
            <a class="text-white" href="https://recheeduardo.github.io/EduardoReche-Portfolio/" target="_blank">
              <%= t('app.footer.project_2')%>
            </a>
          </p>
          <p>
            <a class="text-white" href="https://sportlife.vercel.app/" target="_blank">
              <%= t('app.footer.project_3')%>
            </a>
          </p>
          <p>
            <a class="text-white" href="https://recheeduardo.github.io/TodoList/" target="_blank">
              <%= t('app.footer.project_4')%>
            </a>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />
      </div>
    </section>

    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <div class="p-3">
            © 2025 Copyright:
            <a class="text-white" href="https://www.linkedin.com/in/eduardorechemartins/" target="_blank"
                >Eduardo Reche</a
              >
          </div>
        </div>

        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
          <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              href="https://wa.me/5511994088541?text=Ol%C3%A1%2C%20Eduardo!" target='_blank'
              ><i class="fab fa-whatsapp"></i
            ></a>

          <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              href="https://www.linkedin.com/in/eduardorechemartins/" target='_blank'
              ><i class="fab fa-linkedin"></i
            ></a>

          <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              href="https://github.com/RecheEduardo" target='_blank'
              ><i class="fab fa-github"></i
            ></a>
        </div>
      </div>
    </section>
  </div>
</footer>